@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins' ,sans-serif;
}
body
{
    width: 100%;
    min-height: 200vh;
}

.jumbotron-fluid
{
    background-image: url("images/images/h_img.jpg");
    background-size: contain;
}

/* HERO SECTION */
.hero
{
    
    width: 100%;
    min-height: 100vh;
    top: 250px;
    position: relative;
}
.logo
{
    margin-bottom: 20px;
}
.hero h2
{
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 40px;
    letter-spacing: 2px;
}
.hero h2 span
{
    margin-top: 10px;
}
.hero p
{
    font-weight: 700;
    font-size: 1em;
    color: white;
    letter-spacing: 2px;
}
/* mouse button scroll */
.scroll-down
{
    position: relative;
    top: 50px;
    bottom: 5rem;
    /* left: 50px; */
    /* transform: translateX(-50%); */
}
.mouse
{
width: 1.5rem;
height: 3rem;
border: 2px solid white;
margin-bottom: 2rem;
border-radius: 2rem;
}
.mouse span
{
width: .5rem;
height: .5rem;
background-color: #fff;
display: block;
border-radius: 50%;
margin: auto;
} 

/* ABOUT PAGE */
.aboutus
{
    width: 100%;
    min-height: 30vh;
    background: #fff;
    opacity: 1;
    position: relative;
    top: 80px;
    color: #000;
    text-decoration: none;
}
.aboutus h1
{
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 500;
}
.aboutus p
{
    letter-spacing: 2px;
    /* line-height: 40px; */
    box-sizing: content-box;
    justify-content: start;
    text-align: center;
    text-transform: initial;
    text-decoration: none;
}

/* SERVICES PAGE */
/* service page styling */
.services
{
    background-image: url('images/images/s_image.jpg');
    min-height: 50vh;
    width: 100%;
    position: relative;
    top: 160px;
    color: #fff;
    opacity: 0.8;
}
.services h1
{
    font-size: 2.5em;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700;
    padding: 10px;
    top: 80px;
    margin-bottom: 20px;
}
.services p
{
    justify-content: center;
    align-items: center;
    text-align: center;
    /* letter-spacing: 2px; */
    margin-right: 40px;
    line-height: normal;

}
/* WHAT WE DO PAGE */
.whatwedo
{
    position: relative;
    top: 150px;
    width: 100%;
    min-height: 50vh;
    color: #000;
    background: #fff;
}
.whatwedo h1 
{
    margin-top: 30px;
}
figcaption
{
    margin-top: 20px;
}
